body {
    background-color: cornsilk;
}

/*
LEFT COLUMN: INPUT AND OUTPUT TEXT
 */
#text {
    width: 20%;
    margin: 20px auto;
    float: left;
}

.text-container {
    width: 90%;
    margin: 50px auto;
}

.text-header {
    margin: 0 0 5px 0;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.text-code {
    margin: 0;
    height: 240px;
    font-family: "Courier New", Courier, monospace;
    font-size: xx-large;
    overflow-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.text-code::-webkit-scrollbar {
    display: none;
}

/*
MIDDLE COLUMN: ENIGMA
 */
#enigma {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    float: left;
}

.keyboard {
    width: 100%;
    margin: 10px auto;
    padding: 1px 0;
    border-radius: 25px;
}

#keyboard {
    background-color: burlywood;
}

#lampboard {
    background-color: gray;
}

.keyboard-row {
    display: block;
    margin: 40px auto;
}

.keyboard-letter {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    border-radius: 25px;
    color: wheat;
    font-size: 30px;
}

.keyboard-letter-pressed {
    background-color: gray;
    color: black;
}

.lampboard-letter {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    border-radius: 25px;
    color: wheat;
    font-size: 30px;
}

.lampboard-letter-pressed {
    background-color: gold;
    color: black;
}

/*
RIGHT COLUMN: SETTINGS
 */
#settings {
    width: 20%;
    margin: 20px auto;
    float: left;
}

.setting {
    width: 90%;
    margin: 50px auto;
}

.setting-rotor-container {
    width: 100%;
    margin: 20px auto;
}

.setting-rotor {
    display: block;
    width: 80%;
    margin: 0 auto;
}